:root {
    --color-text: #f2f2f2;
    --color-text-transparent: #f2f2f2cf;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
}

/*
Ordenar propiedades:
Propiedad de posicionamiento
Propiedad del box model
Propiedad de texto
Propiedades visuales (colores, bordes etc)
otros
*/

/*header*/
.header-content {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-image: url("../assets/images/headerbackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.nav1-header {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 50px;
}

.nav1-header h1 {
    padding: 10px;
    margin-left: 10%;

    font-weight: bold;
    font-size: 24px;
    text-shadow: 3px 3px 10px var(--color-text-transparent);

    color: var(--color-text-transparent);
}

.nav1-header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 5px;
    width: 55%;
    height: 40px;
}

.nav1-header ul li {
    list-style: none;
}

.nav1-header ul li a {
    padding: 10px;

    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0.5px 0.5px 2px #f2f2f2;

    color: var(--color-text);
    border-radius: 25px;
}

.nav1-header ul li a:hover {
    color: #333333f3;
    background-color: #f2f2f2aa;

    transition: 0.5s;
}

.header-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-presentation h1 {
    padding-bottom: 20px;

    font-size: 30px;
    font-weight: bold;

    border-bottom: 1px solid #f2f2f2;
    color: var(--color-text-transparent);
}

.header-presentation h4 {
    padding: 5px;

    font-size: 20px;

    color: var(--color-text-transparent);
}

.header-presentation a {
    margin: 15px;
    padding: 12px;

    font-weight: bold;
    text-decoration: none;

    color: #333333f3;
    background-color: #f2f2f2aa;
    border-radius: 20px;

    transition: 0.5s;
}

.header-presentation a:hover {
    background-color: #4e4c4c9a;
    color: var(--color-text-transparent);

    transition: 0.5s;
}
/*fin header*/
/*Sobre mi*/

/*

.pre-galery-grid{
    display: grid;
    height: 550px;
    grid-template-areas:
    "img1 img1 img2 img3"
    "img1 img1 img4 img5";
    gap: 10px;
}

.galery-items{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.galery-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor:pointer;
}

.galery-items:nth-of-type(1){
    grid-area: img1;
}
.galery-items:nth-of-type(2){
    grid-area: img2;
}
.galery-items:nth-of-type(3){
    grid-area: img3;
}
.galery-items:nth-of-type(4){
    grid-area: img4;
}
.galery-items:nth-of-type(5){
    grid-area: img5;
}*/
.aboutme {
    display: grid;
    height: auto;
    grid-template-areas:
        "txt1 txt1 txt2"
        "txt1 txt1 txt3"
        "txt1 txt1 txt4"
        "txt1 txt1 txt5";
    gap: 10px;

    padding: 10px;

    background-color: #100f0f;
}

.aboutme-item{
    background-color: #1d1c1c;
}
.aboutme-item:nth-of-type(1) {
    grid-area: txt1;
    text-align: center;

    width: 350px;
    height: 100vh;


    border-radius: 10px;
}

.aboutme-img img {
    width: 250px;

    margin: 20px;
}

.aboutme-item:nth-of-type(2) {
    grid-area: txt2;
}
.aboutme-item:nth-of-type(3) {
    grid-area: txt3;
}
.aboutme-item:nth-of-type(4) {
    grid-area: txt4;
}
.aboutme-item:nth-of-type(5) {
    grid-area: txt5;
}

.aboutme img {
    height: 80%;
    border-radius: 25px;
}

.aboutme .aboutme-text {
    margin: 20%;

    width: 50%;
    height: 300px;

    border-radius: 25px;
    background-color: #f2f2f2;
    background-image: linear-gradient(
        to left bottom,
        #3b0f57,
        #291347,
        #1c1235,
        #130e22,
        #06050d
    );
}
/*Fin Sobre mi*/
