:root {
    --color-text: #f2f2f2;
    --color-text-transparent: #f2f2f2cf;
}

@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Sofia+Sans&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Sofia Sans', sans-serif;
}

body {
    padding: 0;
    overflow-x: hidden;
}

/*
Ordenar propiedades:
Propiedad de posicionamiento
Propiedad del box model
Propiedad de texto
Propiedades visuales (colores, bordes etc)
otros
*/

/*header*/
.header-content {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-image: url("../assets/images/headerbackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.nav1-header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
   
    width: 100%;
    height: 50px;

    background-color: #03000037;
}

.nav1-header h1 {
    padding: 10px;
    margin-left: 10%;

    font-weight: bold;
    font-size: 24px;
    text-shadow: 3px 3px 10px var(--color-text-transparent);

    color: var(--color-text-transparent);
}

.nav1-header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 5px;
    width: 55%;
    height: 40px;
}

.nav1-header ul li {
    list-style: none;
}

.nav1-header ul li a {
    padding: 10px;

    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0.5px 0.5px 2px #f2f2f2;

    color: var(--color-text);
    border-radius: 25px;
}

.nav1-header ul li a:hover {
    color: #333333f3;
    background-color: #f2f2f2aa;

    transition: 0.5s;
}

.header-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-presentation h1 {
    padding-bottom: 20px;

    font-size: 30px;
    font-weight: bold;

    border-bottom: 1px solid #f2f2f2;
    color: var(--color-text-transparent);
}

.header-presentation h4 {
    padding: 5px;

    font-size: 20px;

    color: var(--color-text-transparent);
}

.header-presentation a {
    margin: 15px;
    padding: 12px;

    font-weight: bold;
    text-decoration: none;

    color: #333333f3;
    background-color: #f2f2f2aa;
    border-radius: 20px;

    transition: 0.5s;
}

.header-presentation a:hover {
    background-color: #4e4c4c9a;
    color: var(--color-text-transparent);

    transition: 0.5s;
}
/*fin header*/
/*Sobre mi*/

.aboutme {
    display: flex;
    flex-direction: row;
    height: auto;

    padding: 10px;
    color: #f2f2f298;
    background-color: #000000ef;
}

.aboutme-item:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 20px;

    width: 80%;
    height: 100vh;

    border-radius: 10px;
}

.aboutme-img {
    position: relative;
}

.aboutme h2{
    letter-spacing: 4px;
    font-size: 20px;
}

.aboutme-img img {
    position: relative;
    margin: 20px;

    width: 250px;

    border-radius: 25px;
}

.aboutme-img span {
    position: absolute;
    top: 140px;
    left: 0;

    width: 295px;
    height: 200px;

    background-image: linear-gradient(
        to left bottom,
        #071003,
        #0d0b00,
        #0d0600,
        #080201,
        #000000
    );
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.aboutme-item:nth-of-type(2) {
    padding: 30px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;

    background-image: linear-gradient(
        to left bottom,
        #071003,
        #0d0b00,
        #0d0600,
        #080201,
        #000000
    );
    border-radius: 20px;
}

.aboutme-item:nth-of-type(2) .datosP div{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 5px;
    padding-top: 15px;
    border: 2px groove #ff000085;
    border-radius: 10px;
    
}

.aboutme-datosP span{
    font-size: 18px;
    margin-left: 20px;
}

.aboutme-datosP p{
    display: flex;
    align-items: center;    
    font-size: 30px;
}

.aboutme-skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

    padding: 5px;
    padding-top: 15px;


}

.aboutme-skills img{
    width: 60px;
}
/*Fin Sobre mi*/
